body{
    display: flex;
    background: rgba(83, 72, 72, 0.4);
    width: 1400px;
    margin: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.brand-item {
    cursor: pointer;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.brand-item:hover {
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
    transform: scale(1.08);
}
.brand-item img {
    max-height: 45px;
    width: 125px;
    object-fit: contain;
}


.cover-product-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card-item {
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.product-card-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product-name {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    line-height: 1.4;
    height: 42px; /* giữ 2 dòng */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Hiện 2 dòng rồi thêm ... */
    -webkit-box-orient: vertical;
}

.product-price {
    color: red;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
